body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0f1115;
  color: white;
  text-align: center;
}

header {
  padding: 40px 20px;
}

header h1 {
  font-size: 48px;
  margin: 0;
}

header span {
  color: #f4b400;
}

header p {
  opacity: 0.7;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.tab {
  padding: 12px 30px;
  background: #2a2d34;
  border: none;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.tab.active {
  background: #f4b400;
  color: black;
}

.tab:hover {
  opacity: 0.8;
}

.content img {
  width: 88%;
  max-width: 430px;
  border-radius: 20px;
}
.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.nav {
  background: #f4b400;
  border: none;
  width: 45px;
  height: 30px;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
}

.nav:hover {
  opacity: 0.8;
}
@media (max-width: 768px) {
  header h1 {
    font-size: 32px;
  }

  .tab {
    padding: 8px 14px;
    font-size: 14px;
  }

  .carousel {
    gap: 8px;
  }
}
